<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Trirong&effect=neon|outline|emboss|shadow-multiple,">
  <style>
    #BoxBody {
      font-family: "Trirong", sans-serif;
      font-size: 30px;
      background-color: black;
      display: flex;
    }
  </style>
</head>

<body id="BoxBody">

  <h1 style="color: rgb(17, 1, 75);">Welcome To Our Leave Management System </h1>
  <div style="margin-left: 550px;">
    <a href="/login" class="menu-item"><i class="fa fa-sign-in"></i> Login </a>
  </div>
</body>

</html>